* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?q=80&w=2070&auto=format&fit=crop")
    no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.menu-box {
  width: 380px;
  padding: 35px;
  border-radius: 18px;
  text-align: center;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  animation: fadeIn 1s ease-in-out;
}

.menu-box h1 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.menu-box img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.menu-box p {
  color: #eaeaea;
  font-size: 17px;
  margin-bottom: 25px;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #000000, #262626);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #3a3a3a, #000000);
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
